@model CompanyViewModels
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white bg-transparent py-2">@(Model.Company.Id != 0 ? "UPDATE" : "CREATE") COMPANY</h2>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="catalogue-container">
                <form method="post" class="row" enctype="multipart/form-data">
                    <input asp-for="Company.Id" hidden />
                    <div class="row">
                        <div class="col-10">
                            <div class="border p-3">
                                @*     <div span asp-validation-summary="ModelOnly"></div> *@
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Company.Name" class="form-control" style="background-color: skyblue;" />
                                    <label asp-for="Company.Name" class="p-0"></label>

                                    <span asp-validation-for="Company.Name" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-12">
                                    <textarea asp-for="Company.StreetAddress" class="form-control" style="background-color: skyblue;"></textarea>
                                    <label asp-for="Company.StreetAddress" class="p-0"></label>
                                </div>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Company.City" class="form-control" style="background-color: skyblue;" />
                                    <label asp-for="Company.City" class="p-0"></label>

                                    <span asp-validation-for="Company.City" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Company.State" class="form-control" style="background-color: skyblue;" />
                                    <label asp-for="Company.State" class="p-0"></label>

                                    <span asp-validation-for="Company.State" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Company.PostalCode" class="form-control" style="background-color: skyblue;" />
                                    <label asp-for="Company.PostalCode" class="p-0"></label>

                                    <span asp-validation-for="Company.PostalCode" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-12">
                                    <input asp-for="Company.PhoneNumber" class="form-control" style="background-color: skyblue;" />
                                    <label asp-for="Company.PhoneNumber" class="p-0"></label>

                                    <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-6 col-mid-3">
                                        @if (Model.Company.Id != 0)
                                        {
                                            <button type="submit" class="btn btn-primary form-control">UPDATE</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary form-control">CREATE</button>
                                        }
                                    </div>
                                    <div class="col-6 col-mid-3">
                                        <a asp-controller="Company" asp-action="Index" class="btn btn-primary form-control">
                                            BACK TO LIST
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'link', 'lists', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Nov 14, 2024:
                'checklist', 'casechange', 'export', 'formatpainter', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
                // Early access to document converters
                'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            exportpdf_converter_options: { 'format': 'Letter', 'margin_top': '1in', 'margin_right': '1in', 'margin_bottom': '1in', 'margin_left': '1in' },
            exportword_converter_options: { 'document': { 'size': 'Letter' } },
            importword_converter_options: { 'formatting': { 'styles': 'inline', 'resets': 'inline', 'defaults': 'inline', } },
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

